body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #0d4c57;
  font-style: oblique;
}

#galery {
  background-color: #0d4c57;
}

#services {
  background-color: #ffffff;
}
#contact {
  background-color: #0d4c57;
}

section {
  padding-top: 6rem;
}
